<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дипломная_работа_2024_020303_Мирхел</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/designer.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="icon" href="../src/icon.png">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-nav">
                <div class="header-nav__logo">
                    <a href="../index.html" class="logo"><img src="../src/logo-light.svg" alt="Интернет-магазин"></a>
                </div>
                <ul class="header-nav-list">
                    <li class="header-nav__item nav-info">Итоговая<br>сумма заказа</li>
                    <li class=" header-nav__item link cart"><a href="../index.html" class="nav-link">11 800 руб.</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="cont"></div>
    </div>

    <script type="importmap">
        {
            "imports": {
                "three": 
                    "https://unpkg.com/three@0.139.0/build/three.module.js",
                "OrbitControls": 
                    "https://unpkg.com/three@0.139.0/examples/jsm/controls/OrbitControls.js",
                "GLTFLoader": 
                    "https://unpkg.com/three@0.139.0/examples/jsm/loaders/GLTFLoader.js",
                "RectAreaLightHelper": 
                    "https://unpkg.com/three@0.139.0/examples/jsm/helpers/RectAreaLightHelper.js",
                "RectAreaLightUniformsLib": 
                    "https://unpkg.com/three@0.139.0/examples/jsm/lights/RectAreaLightUniformsLib.js"
            } 
        }
    </script>

    <script type="module" src="../js/designer.js"></script>
</body>

</html>